<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='/socket.io/socket.io.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js'></script>

</head>
<body>
<div style="float:left;width:200px;">
    <h1><%= title %></h1>

    <p>Here's your data:</p>
    <pre id="pre"><%= JSON.stringify(data, undefined, 2) %></pre>
    <pre id="positionPre"></pre>
    <input onclick="clearTarget()" type="button" value="Click"/> to clear target.<br/>
    <input onclick="moveRandomly()" type="button" value="Click"/> to move randomly.
</div>
<div id="svgContainer"></div>
<script src='/scripts/webapp.js'></script>
</body>
</html>
